div{
    background-color:aquamarine;
    margin:10px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif
}

p{
    background-color:hotpink;
}

body{
    background-color: darkseagreen;
    font-size: 22px;
    font-family:inherit;
}

span{
    background-color: moccasin
}